@charset "UTF-8";
:root {
  --black: #000000;
  --red: #fa1300;
  --yellow: #febf05;
  --white: #f2f2f2;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin";
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 1.65;
  letter-spacing: 0.1px;
  background: var(--black);
  color: var(--white);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2 {
  font-family: "Yesteryear", cursive;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: none;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.9rem;
}

header {
  display: flex;
  flex-direction: column;
  background: var(--fire);
  text-align: center;
  position: sticky;
  width: 100%;
  z-index: 100;
  top: 0;
  max-height: 80px;
  background: linear-gradient(to bottom, var(--red) 10%, var(--red) 70%, var(--black) 100%);
}
header .topBar {
  display: flex;
  justify-content: space-between;
  background: var(--red);
}
header .topBar .logo {
  position: relative;
  width: 280px;
  border-radius: 0 0 10px;
  z-index: 1;
}
header .topBar .lang-switch {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 0 0;
}
header .topBar .lang-switch button {
  background: var(--black);
  color: var(--white);
  border: 2px solid var(--red);
  margin-left: 8px;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s, color 0.2s;
  max-width: 50px;
  max-height: 50px;
}
header .topBar .lang-switch button.active, header .topBar .lang-switch button:hover {
  background: var(--red);
  color: var(--white);
  box-shadow: 0 0 6px 2px var(--red), 0 0 16px 4px rgba(179, 18, 23, 0.4666666667), 0 0 20px 8px rgba(58, 6, 6, 0.3333333333);
  border-width: 3px;
  border-color: var(--red);
}

header.scrolled {
  box-shadow: 0 0 6px 2px rgba(139, 16, 16, 0.8), 0 0 16px 4px rgba(179, 18, 23, 0.4666666667), 0 0 20px 8px rgba(58, 6, 6, 0.3333333333);
  transition: box-shadow 0.3s;
}

.hero-content {
  color: var(--white);
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.6666666667);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--fire);
}
.hero-content h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.hero-content .hero-img {
  width: 100%;
  max-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 5px solid var(--red);
}

.about-us {
  background: var(--red);
  text-align: center;
  align-items: center;
}
.about-us h2,
.about-us p {
  color: var(--yellow);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

h2 {
  font-size: 3rem;
  color: var(--red);
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.menu-section {
  margin-bottom: 20px;
}
.menu-section .menu-images {
  display: grid;
  align-items: start;
  justify-items: center;
  /* DUŻA karta */
}
.menu-section .menu-images .menu-card {
  border: 2px solid var(--red);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 24px rgba(215, 38, 49, 0.1254901961);
  transition: transform 0.2s;
  max-width: 320px;
}
.menu-section .menu-images .menu-card img {
  width: 100%;
  display: block;
}
.menu-section .menu-images .menu-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 32px rgba(250, 84, 28, 0.3764705882);
}
.menu-section .menu-images .menu-card:first-child {
  grid-row: span 2;
}
.menu-section .menu-images.one {
  display: grid;
  grid-template-columns: 1fr; /* jedno zdjęcie */
  max-width: 600px; /* żeby nie rozciągało na całą stronę – opcjonalnie */
  margin: 0 auto;
}
.menu-section .menu-images.multi {
  display: grid;
  grid-template-columns: 1fr 1fr; /* kiedy >= 2 zdjęcia */
  gap: 20px;
}

.menu-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.menu-modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 32px #000;
  transition: transform 0.3s;
}
.menu-modal.show {
  display: flex;
  animation: fadeIn 0.3s;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  margin-top: 20px;
}
.gallery-list .gallery-item {
  flex: 1 1 calc(50% - 16px);
  width: 360px;
  box-sizing: border-box;
  background: rgba(30, 0, 0, 0.9);
  border: 2px solid var(--red);
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
}
.gallery-list .gallery-item:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 32px rgba(250, 84, 28, 0.3764705882);
}
.gallery-list .gallery-item .gallery-img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-list .gallery-item .gallery-desc {
  padding: 16px 12px;
  color: var(--white);
  font-size: 1rem;
  text-align: center;
}

.location {
  text-align: center;
}

.map-container {
  max-width: 1000px;
  margin: 0 auto;
  height: 0;
  padding-bottom: 56.25%; /* proporcje 16:9 */
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.opening-hours {
  margin-top: 20px;
  text-align: center;
  color: var(--white);
}
.opening-hours h3 {
  color: var(--red);
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.opening-hours p {
  font-size: 1rem;
  margin: 2px 0;
}

footer {
  text-align: center;
  padding: 30px 0 15px 0;
  color: var(--white);
  background: var(--red);
  font-size: 1rem;
  letter-spacing: 1px;
  display: flex;
}
footer .footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
footer .footer .social-links i {
  font-size: 26px;
  color: var(--white);
  margin: 0 10px;
  transition: color 0.2s, transform 0.2s;
  padding-bottom: 3px;
}
footer .footer .social-links a:hover i {
  color: var(--black);
  transform: scale(1.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 500px) {
  section {
    padding: 10px 10px;
  }
  h2 {
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0.1px;
  }
  header .topBar {
    padding-bottom: 10px;
  }
  header .topBar .logo {
    width: 160px;
  }
  .container {
    width: 100%;
  }
  .container .gallery-section .gallery-list .gallery-item {
    flex: auto;
  }
  footer {
    padding: 5px;
  }
  footer .footer {
    font-size: 16px;
  }
  footer .footer .social-links i {
    font-size: 22px;
    margin: 2px;
  }
  .hero-content h1 {
    font-size: 2rem;
    padding: 5px;
  }
  .menu-section .menu-images.multi {
    grid-template-columns: 1fr; /* jedna kolumna */
  }
  .menu-section .menu-images.multi .menu-card {
    margin: 10px;
  }
  .menu-section .menu-images .menu-card:first-child {
    grid-row: auto; /* przestaje być duża */
  }
}/*# sourceMappingURL=style.css.map */