:root {
	--black: #000000;
	--red: #fa1300;
	--fire: linear-gradient(
		90deg,
		#8b1010 0%,
		#b31217 40%,
		#fa1300 80%,
		#fa1300 100%
	);
	--white: #fff;
	--yellow: #febf05;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Libre Franklin';
	font-weight: 400;
	font-size: 0.95rem;
	line-height: 1.5;
	letter-spacing: 0.1px;
	background: var(--black);
	color: var(--white);
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header {
	display: flex;
	flex-direction: column;
	background: var(--fire);
	text-align: center;
	position: sticky;
	width: 100%;
	z-index: 100;
	top: 0;
	max-height: 80px;
	.topBar {
		display: flex;
		justify-content: space-between;
		.logo {
			position: relative;
			width: 280px;
			border-radius: 0 0 10px;
			z-index: 1;
		}
		.lang-switch {
			display: flex;
			justify-content: flex-end;
			margin: 20px 20px 0 0;

			button {
				background: var(--black);
				color: var(--white);
				border: 2px solid var(--red);
				margin-left: 8px;
				padding: 6px 14px;
				border-radius: 20px;
				cursor: pointer;
				font-weight: bold;
				transition: background 0.2s, color 0.2s;
				max-width: 50px;
				max-height: 50px;

				&.active,
				&:hover {
					background: linear-gradient(90deg, #8b1010 0%, #b31217 100%);
					color: var(--white);
					box-shadow: 0 0 6px 2px #8b1010cc, 0 0 16px 4px #b3121777,
						0 0 20px 8px #3a060655;
					border-width: 3px;
					border-color: #b31217;
				}
			}
		}
	}
}
header.scrolled {
	box-shadow: 0 0 6px 2px #8b1010cc, 0 0 16px 4px #b3121777,
		0 0 20px 8px #3a060655;
	transition: box-shadow 0.3s;
	padding-bottom: 10px;
}

.hero-content {
	color: var(--black);
	text-shadow: 0 2px 12px #000a;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: var(--fire);
	h1 {
		font-size: 4rem;
		letter-spacing: 2px;
		font-weight: 500;
		text-align: center;
		font-family: 'Yesteryear';
		margin: 1rem;
		color: yellow;
	}
	.hero-img {
		width: 100%;
		max-height: 350px;
		object-fit: cover;
		border-bottom: 5px solid var(--red);
	}
}
h3,
.reservations {
	font-weight: bold;
	margin-bottom: 0;
}
.about-us {
	background: var(--fire);
	text-align: center;
	align-items: center;
	color: var(--yellow);

	h2,
	p {
		color: var(--yellow);
	}
	p {
		font-size: 1.5rem;
		margin-top: 5px;
	}
	h3 {
		font-size: 1.5rem;
		margin-top: 0;
	}
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	padding: 10px 30px;
	width: 100%;
	box-sizing: border-box;
	justify-content: center;
}
h2 {
	font-family: 'Yesteryear', cursive;
	font-weight: 400;
	letter-spacing: 0.3px;
	text-transform: none;
	font-size: 3rem;
	color: var(--red);
	text-align: center;
	margin-bottom: 5px;
	margin-top: 10px;
	font-family: 'Yesteryear';
	padding: 0 100px;
	line-height: 3.5rem;
}

.menu-section {
	margin-bottom: 20px;

	.menu-images {
		display: grid;
		align-items: start;
		justify-items: center;
		justify-self: center;

		.menu-card {
			border: 2px solid var(--red);
			border-radius: 18px;
			overflow: hidden;
			box-shadow: 0 4px 24px #d7263120;
			transition: transform 0.2s;
			max-width: 500px;

			img {
				width: 100%;
				display: block;
			}

			&:hover {
				transform: scale(1.03);
				box-shadow: 0 8px 32px #fa541c60;
			}
		}
	}

	.menu-images.one {
		display: grid;
		grid-template-columns: 1fr; /* jedno zdjęcie */
		max-width: 600px; /* żeby nie rozciągało na całą stronę – opcjonalnie */
		margin: 0 auto;
	}

	.menu-images.multi {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}
}

.menu-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
	z-index: 1000;

	img {
		max-width: 90%;
		max-height: 90%;
		border-radius: 10px;
		box-shadow: 0 4px 32px #000;
		transition: transform 0.3s;
	}

	&.show {
		display: flex;
		animation: fadeIn 0.3s;
	}
}
.gallery-list {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: center;
	margin-top: 20px;
	justify-items: center;

	.gallery-item {
		flex: 1 1 calc(50% - 12px); // 50% szerokości minus połowa gapu
		width: 320px; // ograniczenie na duże ekrany
		box-sizing: border-box;
		background: rgba(30, 0, 0, 0.9);
		border: 2px solid var(--red);
		border-radius: 18px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: transform 0.2s;

		&:hover {
			transform: scale(1.04);
			box-shadow: 0 8px 32px #fa541c60;
		}

		.gallery-img {
			width: 100%;
			height: 600px;
			object-fit: cover;
		}

		.gallery-desc {
			padding: 16px 12px;
			color: #fff;
			font-size: 1rem;
			text-align: center;
		}
	}
}
.location {
	text-align: center;
}

.map-container {
	margin: 0 auto;
	height: 0;
	padding-bottom: 56.25%; /* proporcje 16:9 */
	position: relative;
	border-radius: 20px;
	overflow: hidden;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}
.opening-hours {
	margin-top: 20px;
	text-align: center;
	color: #fff;

	h3 {
		color: var(--red);
		font-size: 1.5rem;
		margin-bottom: 10px;
	}

	p {
		font-size: 1rem;
		margin: 2px 0;
	}
}

footer {
	text-align: center;
	padding: 10px 0 15px 0;
	color: var(--yellow);
	background: var(--fire);
	font-size: 1rem;
	letter-spacing: 1px;
	display: flex;
	flex-direction: column;

	.footer {
		display: flex;
		flex-direction: row;
		gap: 10px;

		.social-links {
			i {
				font-size: 26px;
				color: #fff;
				margin: 0 10px;
				transition: color 0.2s, transform 0.2s;
				padding-bottom: 3px;
			}
			a:hover i {
				color: #d72631;
				transform: scale(1.2);
			}
		}
	}
	.reservations {
		font-size: 1rem;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 500px) {
	section {
		padding: 10px 15px;
	}
	h2 {
		font-size: 2rem;
		line-height: 1.2;
		padding: 0 20px 0 20px;
	}
	.about-us {
		h3,
		p {
			font-size: 1.2rem;
		}
		h3 {
			margin-top: 0;
		}
	}
	header {
		.topBar {
			.logo {
				width: 160px;
			}
		}
	}

	.container {
		width: 100%;
		.gallery-section {
			.gallery-list {
				.gallery-item {
					flex: auto;
				}
			}
			.gallery-img {
				height: 380px;
			}
		}
	}
	footer {
		padding: 5px;
		.footer {
			font-size: 16px;

			.social-links {
				i {
					font-size: 22px;
					margin: 2px;
				}
			}
		}
	}

	.hero-content {
		h1 {
			font-size: 3rem;
			line-height: 1.2;
			padding: 0 30px 0 30px;
		}
	}

	.menu-section .menu-images.multi {
		grid-template-columns: 1fr; /* jedna kolumna */

		.menu-card {
			margin: 10px;
		}
	}

	.menu-section .menu-images .menu-card:first-child {
		grid-row: auto; /* przestaje być duża */
	}
}
